@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  height: 8px;
  width: 12px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: rgb(219, 219, 219);
  border-radius: 30px;
}

.logo-container{
  width: 70px;
  height: 50px;
  border-radius: 70% 40% 30%  80% / 55% 45% 60% 50%;
  background: rgb(250 204 21 / var(--tw-bg-opacity));

}
.logo {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-top: 5%;
}
